// colors
$moderateViolet:  hsl(263, 59%, 54%);
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$veryBlackishBlue: hsl(219, 29%, 14%);
$white:hsl(0, 0%, 100%);
$lightGray: hsl(0, 0%, 81%);
$lightGrayishBlue: hsl(210, 46%, 95%);